.burguer-button{
  width: 40px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  height: 40px;
  background: #dd944c;
  display: inline-block;
  position: absolute;
  z-index: 3;
  left: 20px;
  top: 20px;
  position: fixed;
  display: none;
}


/* 768 para tables y esta dentro de los 800px que vamos a trabajar */

@media screen and (max-width: 800px){
  .titulo{
    font-size: 45px;
  }
  .title-a{
    font-size: 18px;
  }

  .portada {
    height: auto;
  }

 .portada .button{
   margin-bottom: 30px;
   display: inline-block; 
 }

 .cafes{
   text-align: center;
   margin: 0;
 }

 .rig, .left{
   float: none;
   position: static;

 }

 .contenedor-cafe-a{
   position: static;
   padding: 0;

 }
 .contenedor-cafe-b{
   margin: 0;
   position: static;
   
}

 .contenedor{
   position: static;
   padding: 0;

 }

 .cafe.granoscafe{
   height: auto;
 }

 .cafe li{
   list-style: none;
 }

   .titulo-b{
   margin: 0;
 }
}

/* fin de tablet */

/* cualquier dimencion inferior de 767  vamos a cambiar el footer*/

@media screen and (max-width: 767px){
 .foot .contenedor{
   display: block;
 }
 textarea{
   width: 100%;
 }

 .foot img{
   width: 250px;
 }
 .imagenfoot{
   display: flex;
   justify-content: center;
   margin: 0 auto;
 }

 .genero label {
  font-size: 16px;
 }

 .intereses label{
   display: block;
   font-size: 16px;

 }

 .formulario .button{
   width: 100%;
   box-shadow: 0 0 10px 0 black;
 }

 .formulario{
   display: block;
   width: 300px;
   margin: 0 auto;
 }

 .col1{
   margin: 0;
 }
input[type="text"],
input[type="email"] {
  font-size: 16px;
  padding: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  zoom: 1.5;
  top: 3px;
}

}

@media screen and (max-width: 650px){
.header{
  text-align: center;
}

.logotipo{
  margin: 0;
}
.menu{
  position: static;
  display: block;
}

.menu li:first-child {
  margin: 0;
}

.menu ul {
  padding: 0;
}

}
/* fin de table */

@media screen and (max-width: 500px){

  .portada .contenedor{
    position: static;
  }

  /* pagina de precios */
  .header{
    position: static;
  }
  .header .contenedor{
    position: static;
  }
  .titulo-precio{
    font-size: 32px;

  }
  .titulo-precio img{
    width: 60px;
  }



  .burguer-button{
    display: block;
  }
  .portada .button{
    display: block;
  }

  .menu{
    /* border: 1 px solid tomato; */
    background-color: rgba(100, 78, 53, 0.8);
    position: fixed;
    left: -100%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.7s;
    
  }
  .active{
    left: 0;
  }

  .menu ul{
    flex: 1;
  }

  .menu li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;

  }
  .menu li:first-child{
    border-top: 1px solid white;
  }
  .portada{
    text-align: center;
  }
  .titulo{
    font-size: 35px;
  }
  .titulo-a{
    font-size: 35px;
  }

  .cafe img{
    width: 200px;
  }

.titulo-b{
  font-size: 30px;
}

}
/* fin para celulares */